<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>充电订单查询</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand">巴普特大学充电桩系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <!-- margin start -->
                <li class="nav-item">
                    <div><a href="/" class="nav-link">首页</a></div>
                </li>
                <li class="nav-item">
                    <div><a href="bill" class="nav-link">我的订单</a></div>
                </li>
                <li class="nav-item">
                    <div><a href="changebill" class="nav-link">修改订单</a></div>
                </li>
                <li class="nav-item">
                    <div><a href="deletebill" class="nav-link">删除订单</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <h1>充电订单查询</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>订单号</th>
                    <th>开始时间</th>
                    <th>充电总时长</th>
                    <th>充电度数</th>
                    <th>充电费用</th>
                    <th>服务费</th>
                    <th>总费用</th>
                    <th>用户名</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order %}
                <tr>
                    <td><a href="#order{{ order[0] }}">{{ order[0] }}</a></td>
                    <td>{{ order[1] }}</td>
                    <td>{{ order[3] }}</td>
                    <td>{{ order[4] }}</td>
                    <td>{{ order[7] }}</td>
                    <td>{{ order[8] }}</td>
                    <td>{{ order[9] }}</td>
                    <td>{{ order[10] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for order in order %}
        <div id="order{{ order[0] }}" class="order-details">
            <h2>订单号：{{ order[0] }}</h2>
            <p>开始时间：{{ order[1] }}</p>
            <p>充电总时长：{{ order[3] }}</p>
            <p>充电度数：{{ order[4] }}</p>
            <p>充电费用：{{ order[7] }}</p>
            <p>服务费：{{ order[8] }}元</p>
            <p>总费用：{{ order[9] }}元</p>
            <p>用户名：{{ order[10] }}</p>
        </div>
        {% endfor %}
    </div>
    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>
