<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>取消充电表单</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a href="#" class="navbar-brand">巴普特大学充电桩系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <!-- margin start -->
                <li class="nav-item">
                    <div><a href="/" class="nav-link">首页</a></div>
                </li>
                <li class="nav-item">
                    <div><a href="bill" class="nav-link">我的订单</a></div>
                </li>
                <li class="nav-item">
                    <div><a href="changebill" class="nav-link">修改订单</a></div>
                </li>
                <li class="nav-item">
                    <div><a href="deletebill" class="nav-link">删除订单</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <h1>取消充电表单</h1>
        <form method="post">
            <div class="mb-3">
                <label for="orderId" class="form-label">订单ID</label>
                <input type="text" name="order_id" class="form-control" id="orderId" placeholder="请输入订单ID">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">提交取消请求</button>
            </div>

        </form>
    </div>
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>
