<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巴普特大学充电桩系统</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">巴普特大学充电桩系统</a>
            <button class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse"
                    data-bs-target="#navmenu"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <!-- margin start -->
                    <li class="nav-item">
                        <div><a href="login" class="nav-link">登录</a></div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">导2</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">导3</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>