<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="" method="post">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Time</button>
        </div>

    </form>
    </div>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>